In [1]:
pip install -U notebook-as-pdf

Collecting notebook-as-pdf
  Downloading notebook_as_pdf-0.4.0-py3-none-any.whl (6.2 kB)
Requirement already satisfied, skipping upgrade: nbconvert in c:\programdata\anaconda3\lib\site-packages (from notebook-as-pdf) (6.0.7)
Collecting pyppeteer
  Downloading pyppeteer-0.2.5-py3-none-any.whl (87 kB)
Collecting PyPDF2
  Downloading PyPDF2-1.26.0.tar.gz (77 kB)
Requirement already satisfied, skipping upgrade: bleach in c:\programdata\anaconda3\lib\site-packages (from nbconvert->notebook-as-pdf) (3.2.1)
Requirement already satisfied, skipping upgrade: nbformat>=4.4 in c:\programdata\anaconda3\lib\site-packages (from nbconvert->notebook-as-pdf) (5.0.8)
Requirement already satisfied, skipping upgrade: traitlets>=4.2 in c:\programdata\anaconda3\lib\site-packages (from nbconvert->notebook-as-pdf) (5.0.5)
Requirement already satisfied, skipping upgrade: pandocfilters>=1.4.1 in c:\programdata\anaconda3\lib\site-packages (from nbconvert->notebook-as-pdf) (1.4.3)
Requirement already satisfied, skipping upgrade: mistune<2,>=0.8.1 in c:\programdata\anaconda3\lib\site-packages (from nbconvert->notebook-as-pdf) (0.8.4)
Requirement already satisfied, skipping upgrade: jupyter-core in c:\programdata\anaconda3\lib\site-packages (from nbconvert->notebook-as-pdf) (4.6.3)
Requirement already satisfied, skipping upgrade: testpath in c:\programdata\anaconda3\lib\site-packages (from nbconvert->notebook-as-pdf) (0.4.4)
Requirement already satisfied, skipping upgrade: defusedxml in c:\programdata\anaconda3\lib\site-packages (from nbconvert->notebook-as-pdf) (0.6.0)
Requirement already satisfied, skipping upgrade: pygments>=2.4.1 in c:\programdata\anaconda3\lib\site-packages (from nbconvert->notebook-as-pdf) (2.7.2)
Requirement already satisfied, skipping upgrade: jinja2>=2.4 in c:\programdata\anaconda3\lib\site-packages (from nbconvert->notebook-as-pdf) (2.11.2)
Requirement already satisfied, skipping upgrade: nbclient<0.6.0,>=0.5.0 in c:\programdata\anaconda3\lib\site-packages (from nbconvert->notebook-as-pdf) (0.5.1)
Requirement already satisfied, skipping upgrade: jupyterlab-pygments in c:\programdata\anaconda3\lib\site-packages (from nbconvert->notebook-as-pdf) (0.1.2)
Requirement already satisfied, skipping upgrade: entrypoints>=0.2.2 in c:\programdata\anaconda3\lib\site-packages (from nbconvert->notebook-as-pdf) (0.3)
Collecting websockets<9.0,>=8.1
  Downloading websockets-8.1-cp38-cp38-win_amd64.whl (66 kB)
Collecting pyee<9.0.0,>=8.1.0
  Downloading pyee-8.1.0-py2.py3-none-any.whl (12 kB)
Requirement already satisfied, skipping upgrade: tqdm<5.0.0,>=4.42.1 in c:\programdata\anaconda3\lib\site-packages (from pyppeteer->notebook-as-pdf) (4.50.2)
Requirement already satisfied, skipping upgrade: urllib3<2.0.0,>=1.25.8 in c:\programdata\anaconda3\lib\site-packages (from pyppeteer->notebook-as-pdf) (1.25.11)
Note: you may need to restart the kernel to use updated packages.
Collecting appdirs<2.0.0,>=1.4.3
  Downloading appdirs-1.4.4-py2.py3-none-any.whl (9.6 kB)
Requirement already satisfied, skipping upgrade: packaging in c:\programdata\anaconda3\lib\site-packages (from bleach->nbconvert->notebook-as-pdf) (20.4)
Requirement already satisfied, skipping upgrade: webencodings in c:\programdata\anaconda3\lib\site-packages (from bleach->nbconvert->notebook-as-pdf) (0.5.1)
Requirement already satisfied, skipping upgrade: six>=1.9.0 in c:\programdata\anaconda3\lib\site-packages (from bleach->nbconvert->notebook-as-pdf) (1.15.0)
Requirement already satisfied, skipping upgrade: jsonschema!=2.5.0,>=2.4 in c:\programdata\anaconda3\lib\site-packages (from nbformat>=4.4->nbconvert->notebook-as-pdf) (3.2.0)
Requirement already satisfied, skipping upgrade: ipython-genutils in c:\programdata\anaconda3\lib\site-packages (from nbformat>=4.4->nbconvert->notebook-as-pdf) (0.2.0)
Requirement already satisfied, skipping upgrade: pywin32>=1.0; sys_platform == "win32" in c:\programdata\anaconda3\lib\site-packages (from jupyter-core->nbconvert->notebook-as-pdf) (227)
Requirement already satisfied, skipping upgrade: MarkupSafe>=0.23 in c:\programdata\anaconda3\lib\site-packages (from jinja2>=2.4->nbconvert->notebook-as-pdf) (1.1.1)
Requirement already satisfied, skipping upgrade: jupyter-client>=6.1.5 in c:\programdata\anaconda3\lib\site-packages (from nbclient<0.6.0,>=0.5.0->nbconvert->notebook-as-pdf) (6.1.7)
Requirement already satisfied, skipping upgrade: nest-asyncio in c:\programdata\anaconda3\lib\site-packages (from nbclient<0.6.0,>=0.5.0->nbconvert->notebook-as-pdf) (1.4.2)
Requirement already satisfied, skipping upgrade: async-generator in c:\programdata\anaconda3\lib\site-packages (from nbclient<0.6.0,>=0.5.0->nbconvert->notebook-as-pdf) (1.10)
Requirement already satisfied, skipping upgrade: pyparsing>=2.0.2 in c:\programdata\anaconda3\lib\site-packages (from packaging->bleach->nbconvert->notebook-as-pdf) (2.4.7)
Requirement already satisfied, skipping upgrade: pyrsistent>=0.14.0 in c:\programdata\anaconda3\lib\site-packages (from jsonschema!=2.5.0,>=2.4->nbformat>=4.4->nbconvert->notebook-as-pdf) (0.17.3)
Requirement already satisfied, skipping upgrade: attrs>=17.4.0 in c:\programdata\anaconda3\lib\site-packages (from jsonschema!=2.5.0,>=2.4->nbformat>=4.4->nbconvert->notebook-as-pdf) (20.3.0)
Requirement already satisfied, skipping upgrade: setuptools in c:\programdata\anaconda3\lib\site-packages (from jsonschema!=2.5.0,>=2.4->nbformat>=4.4->nbconvert->notebook-as-pdf) (50.3.1.post20201107)
Requirement already satisfied, skipping upgrade: pyzmq>=13 in c:\programdata\anaconda3\lib\site-packages (from jupyter-client>=6.1.5->nbclient<0.6.0,>=0.5.0->nbconvert->notebook-as-pdf) (19.0.2)
Requirement already satisfied, skipping upgrade: python-dateutil>=2.1 in c:\programdata\anaconda3\lib\site-packages (from jupyter-client>=6.1.5->nbclient<0.6.0,>=0.5.0->nbconvert->notebook-as-pdf) (2.8.1)
Requirement already satisfied, skipping upgrade: tornado>=4.1 in c:\programdata\anaconda3\lib\site-packages (from jupyter-client>=6.1.5->nbclient<0.6.0,>=0.5.0->nbconvert->notebook-as-pdf) (6.0.4)
Building wheels for collected packages: PyPDF2
  Building wheel for PyPDF2 (setup.py): started
  Building wheel for PyPDF2 (setup.py): finished with status 'done'
  Created wheel for PyPDF2: filename=PyPDF2-1.26.0-py3-none-any.whl size=61087 sha256=1f4d12145a834e892dba1643f77afd0a671de7668e60be5233d2b1c6de5e2786
  Stored in directory: c:\users\sarowar\appdata\local\pip\cache\wheels\b1\1a\8f\a4c34be976825a2f7948d0fa40907598d69834f8ab5889de11
Successfully built PyPDF2
Installing collected packages: websockets, pyee, appdirs, pyppeteer, PyPDF2, notebook-as-pdf
Successfully installed PyPDF2-1.26.0 appdirs-1.4.4 notebook-as-pdf-0.4.0 pyee-8.1.0 pyppeteer-0.2.5 websockets-8.1

In [1]:
import pandas as pd

In [2]:
df= pd.read_csv(r"C:\Users\Sarowar\Downloads\Compressed\adult.csv")

In [3]:
df.head()

,age,workclass,fnlwgt,education,educational-num,marital-status,occupation,relationship,race,gender,capital-gain,capital-loss,hours-per-week,native-country,income
0,25,Private,226802,11th,7,Never-married,Machine-op-inspct,Own-child,Black,Male,0,0,40,United-States,<=50K
1,38,Private,89814,HS-grad,9,Married-civ-spouse,Farming-fishing,Husband,White,Male,0,0,50,United-States,<=50K
2,28,Local-gov,336951,Assoc-acdm,12,Married-civ-spouse,Protective-serv,Husband,White,Male,0,0,40,United-States,>50K
3,44,Private,160323,Some-college,10,Married-civ-spouse,Machine-op-inspct,Husband,Black,Male,7688,0,40,United-States,>50K
4,18,?,103497,Some-college,10,Never-married,?,Own-child,White,Female,0,0,30,United-States,<=50K

In [4]:
df.shape

(48842, 15)

In [5]:
df.isnull().sum()

age                0
workclass          0
fnlwgt             0
education          0
educational-num    0
marital-status     0
occupation         0
relationship       0
race               0
gender             0
capital-gain       0
capital-loss       0
hours-per-week     0
native-country     0
income             0
dtype: int64

In [6]:
df.isnull().sum(axis=1)

0        0
1        0
2        0
3        0
4        0
        ..
48837    0
48838    0
48839    0
48840    0
48841    0
Length: 48842, dtype: int64

In [84]:
df[df['workclass'] == "?"].sum()

age                                                           112355
workclass          ??????????????????????????????????????????????...
fnlwgt                                                     524126111
education          Some-collegeHS-gradHS-grad7th-8thHS-grad10thMa...
educational-num                                                25894
marital-status     Never-marriedNever-marriedMarried-civ-spouseDi...
occupation         ??????????????????????????????????????????????...
relationship       Own-childUnmarriedHusbandNot-in-familyHusbandO...
race               WhiteBlackWhiteWhiteWhiteWhiteWhiteWhiteWhiteW...
gender             FemaleMaleMaleFemaleMaleMaleFemaleFemaleFemale...
capital-gain                                                 1407746
capital-loss                                                  189310
hours-per-week                                                 89043
native-country     United-StatesUnited-StatesUnited-StatesUnited-...
income             <=50K<=50K<=50K<=50K<=50K<=50K>50K<=50K<=50K<=...
dtype: object

In [7]:
df.isin(['?']).sum()

age                   0
workclass          2799
fnlwgt                0
education             0
educational-num       0
marital-status        0
occupation         2809
relationship          0
race                  0
gender                0
capital-gain          0
capital-loss          0
hours-per-week        0
native-country      857
income                0
dtype: int64

In [8]:
import numpy as np

In [9]:
df['workclass'] = df['workclass'].replace('?',np.nan)
df['occupation'] = df['occupation'].replace('?',np.nan)
df['native-country'] = df['native-country'].replace('?',np.nan)

In [10]:
df.isin(['?']).sum()

age                0
workclass          0
fnlwgt             0
education          0
educational-num    0
marital-status     0
occupation         0
relationship       0
race               0
gender             0
capital-gain       0
capital-loss       0
hours-per-week     0
native-country     0
income             0
dtype: int64

In [11]:
df.dropna(how='any',inplace=True)

In [12]:
df.isnull().sum()

age                0
workclass          0
fnlwgt             0
education          0
educational-num    0
marital-status     0
occupation         0
relationship       0
race               0
gender             0
capital-gain       0
capital-loss       0
hours-per-week     0
native-country     0
income             0
dtype: int64

In [13]:
df.shape

(45222, 15)

In [14]:
df.duplicated().any().sum()

1

In [15]:
df= df.drop_duplicates()

In [16]:
df.shape

(45175, 15)

In [17]:
df.columns

Index(['age', 'workclass', 'fnlwgt', 'education', 'educational-num',
       'marital-status', 'occupation', 'relationship', 'race', 'gender',
       'capital-gain', 'capital-loss', 'hours-per-week', 'native-country',
       'income'],
      dtype='object')

In [18]:
df=df.drop(["educational-num","capital-loss","capital-gain"],axis=1)

In [19]:
df.columns

Index(['age', 'workclass', 'fnlwgt', 'education', 'marital-status',
       'occupation', 'relationship', 'race', 'gender', 'hours-per-week',
       'native-country', 'income'],
      dtype='object')

### How Many Person having bachelor and masters degrere

In [22]:
sum(df["education"].isin(["Bachelors","Masters"]))

10072

In [23]:
df["income"].value_counts()

<=50K    33973
>50K     11202
Name: income, dtype: int64

In [27]:
df.replace(to_replace=['<=50K','>50K'], value=[0,1],inplace= True)

In [28]:
df

,age,workclass,fnlwgt,education,marital-status,occupation,relationship,race,gender,hours-per-week,native-country,income
0,25,Private,226802,11th,Never-married,Machine-op-inspct,Own-child,Black,Male,40,United-States,0
1,38,Private,89814,HS-grad,Married-civ-spouse,Farming-fishing,Husband,White,Male,50,United-States,0
2,28,Local-gov,336951,Assoc-acdm,Married-civ-spouse,Protective-serv,Husband,White,Male,40,United-States,1
3,44,Private,160323,Some-college,Married-civ-spouse,Machine-op-inspct,Husband,Black,Male,40,United-States,1
5,34,Private,198693,10th,Never-married,Other-service,Not-in-family,White,Male,30,United-States,0
...,...,...,...,...,...,...,...,...,...,...,...,...
48837,27,Private,257302,Assoc-acdm,Married-civ-spouse,Tech-support,Wife,White,Female,38,United-States,0
48838,40,Private,154374,HS-grad,Married-civ-spouse,Machine-op-inspct,Husband,White,Male,40,United-States,1
48839,58,Private,151910,HS-grad,Widowed,Adm-clerical,Unmarried,White,Female,40,United-States,0
48840,22,Private,201490,HS-grad,Never-married,Adm-clerical,Own-child,White,Male,20,United-States,0
48841,52,Self-emp-inc,287927,HS-grad,Married-civ-spouse,Exec-managerial,Wife,White,Female,40,United-States,1